[paths]
source = absorbing_centrality

[run]
branch = True
source = absorbing_centrality
parallel = true

[report]
show_missing = true
precision = 2
omit = 
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    *migrations*


